.navbar {
  background: linear-gradient(30deg, #8d4a8b 10%, #9e4964 25%, #9e489e 94%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.sidenav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navLinks {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navLinks:hover {
  background-color: #e1e1e1;
  color: #000;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    position: relative;
  }
  /* .navMenu{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease;
  top: 80px;
  left: -100%;
}
.navMenu:active{
left: 0;
opacity: 1;
transition: all 0.5s ease;
z-index: 1;
background: red;
}

.navLinks{
text-align: center;
padding: 2rem;
width: 100%;
display: table;
}

.navLinks:hover{
  background-color: aqua;
  border-radius: 0;
} */
  .sidenav {
    position: fixed;
    width: 110%;
    height: 100vh;
    background: #9e489e;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    top: 60px;
    display: flex;
    flex-direction: column;
  }
  .activeSidenav {
    position: fixed;
    width: 90%;
    height: 100vh;
    background: #9e489e;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
    opacity: 9;
    top: 60px;
    display: flex;
    flex-direction: column;
    /* padding: -100px; */
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    /* width: 100%; */
    display: table;
    list-style: none;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, -10%);
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-80%, 75%);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
