.navbar {
  background: #262833;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  position: sticky;
  width: 100%;
  z-index: 1;
  border-bottom: 0.2px solid wheat;
}

.logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Oleo Script Swash Caps", cursive;
  color:wheat;
}

.sidenav {
  display: flex;
  /* grid-template-columns: repeat(3, auto); */
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navLinks {
  color: wheat;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.navLinks:hover {
border-bottom: 2px solid wheat;
  color: wheat;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    width: 100% !important;
    justify-content: space-between;
    margin: 0 !important;
   }

  .navLinks{
    font-size: 12px;
    justify-content: end;
    padding: 0;

  }
  }

  @media screen and (max-width: 520px) {
    .navbar{
      justify-content: space-between;
      width: 100%;
    }
  }
 