@import url("https://fonts.googleapis.com/css2?family=Bungee&family=EB+Garamond&family=Fugaz+One&family=Oleo+Script+Swash+Caps&family=Rubik+Glitch&family=Rubik+Moonrocks&family=Rubik+Puddles&family=Tapestry&display=swap");


.container {
  
  padding: 50px 30px;
  background: linear-gradient(30deg, #8d4a8b 30%, #9e4964 55%, #9e489e 94%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  backdrop-filter: blur(5px);
}

.projectcontainer {
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(65, 74, 74, 0.2);
  background: rgb(202, 192, 192);
}
.prod_image {
  padding: 30px;
  border-radius: 5px;
  z-index: 0;
}

.prod_image:hover .image {
  opacity: 0.2;
}

.prod_image:hover .text_onhover {
  opacity: 0.9;
  z-index: 1;
}
.text_onhover {
  position: absolute;
  top: 65%;
  left: 50%;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -120%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}

.text_onhover h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: cursive;
  color: #000;
}

/* .text_onhover i {
  color: #000;

  cursor: pointer;
} */

.prodtext {
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -20px;
}
.prodtext h2 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Rubik Moonrocks", cursive;

  /* line-height: 1; */
}
.prodtext p {
  line-height: 1.3;
}

@media (max-width: 720px) {
  .port_container {
    grid-template-columns: 1fr;
  }
}
